# npm file
node_modules/

# Mac
.DS_Store

# Binary tools
tools/
firmwares/*
!firmwares/microbit/
firmwares/microbit/*
!firmwares/microbit/dogoblock-microbit-ble.hex
!firmwares/microbit/dogoblock-microbit-ble-v2.hex
tmp/
dist/
